body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('image/background_website.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}
